<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>無題ドキュメント</title>
<style type="text/css">
@import url("../../../../../Adobe Dreamweaver CC/tohyo.css");
</style>
</head>

<body>


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=Shift_JIS">
<title>タイトル</title>
</head>




<frameset rows="20%,80%" frameborder="no">
<frame src="left.htm" name="toc"><!--メニュー-->
<frame src="right.htm" name="content"><!--本文-->
<noframes>



<body>
<p><a href="left.htm"></a></p>
<p><a href="right.htm"></a></p>
</body>
</noframes>
</frameset>
</html>

