@charset "utf-8";


p.head img{
	text-align:center;
	width:100%;
	margin:0;
	padding-top:0px
	/*padding-bottom:15px;	*/
	}
p.rr img{
	width:110px;
	height:50px;
	margin:0;
	padding-left:30px;
	}

#btb	{
	margin:0px 10px 10px 10px;
	border-bottom:solid 1px;
	border-width:100%;
	}
#btb2	{
	margin:10px 10px 10px 10px;
	border-bottom:solid 1px;
	border-width:100%;
	}

p.bt	{    /* 上右下左 */
	margin:10px 10px 10px 10px;
	padding:0px 0px 10px 0px;
	border-bottom:solid 1px;
	border-width:100%;
	}
p.bt a	{
	padding-left:40px;
	font-size:32px;
	}
p.bt img	{
	text-align:right;
	padding:0px 0px 0px 150px;
		}
#kara	{
	margin:20px 20px 10px 20px;
	border: medium solid #ff00ff;
	}
.heading07 p1 {
	width:50px;	
	font-size:auto;
/*	text-align:center;*/
}
 
.heading07 {
	text-align:center;
	width:280px;
/*	position:relative;*/
	margin-top:10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	padding:10px 10px 10px 10px;
	font:bold 18px/1.2 Arial, Helvetica, sans-serif;
	color:#0000CD;
	background:#ccc;
	border-top:#ccc solid 1px;
	border-right:#999 solid 1px;
	border-bottom:#999 solid 1px;
	border-left:#ccc solid 1px;
	text-shadow:1px 1px 0 rgba(255,255,255,1);
	box-shadow:	0 0 0 1px rgba(255,255,255,0.5) inset;
    background-image: -webkit-gradient(linear, left top, left bottom,
			from(			 rgba(220, 220, 220, 1.0)), 
			color-stop(0.25, rgba(240, 240, 240, 1.0)),
			color-stop(0.30, rgba(235, 235, 235, 1.0)),
			color-stop(0.36, rgba(240, 240, 240, 1.0)),
			color-stop(0.50, rgba(235, 235, 235, 1.0)),
			color-stop(0.80, rgba(215, 215, 215, 1.0)),
			to(				 rgba(210, 210, 210, 1.0))
			);
	background-image: -webkit-linear-gradient(top,
			rgba(220, 220, 220, 1.0), 
			rgba(240, 240, 240, 1.0) 25%,
			rgba(235, 235, 235, 1.0) 30%,
			rgba(240, 240, 240, 1.0) 36%,
			rgba(235, 235, 235, 1.0) 50%,
			rgba(215, 215, 215, 1.0) 80%,
			rgba(210, 210, 210, 1.0)
			);
	background-image: -moz-linear-gradient(top,
			rgba(220, 220, 220, 1.0), 
			rgba(240, 240, 240, 1.0) 25%,
			rgba(235, 235, 235, 1.0) 30%,
			rgba(240, 240, 240, 1.0) 36%,
			rgba(235, 235, 235, 1.0) 50%,
			rgba(215, 215, 215, 1.0) 80%,
			rgba(210, 210, 210, 1.0)
			);
	background-image: -o-linear-gradient(top,
			rgba(220, 220, 220, 1.0), 
			rgba(240, 240, 240, 1.0) 25%,
			rgba(235, 235, 235, 1.0) 30%,
			rgba(240, 240, 240, 1.0) 36%,
			rgba(235, 235, 235, 1.0) 50%,
			rgba(215, 215, 215, 1.0) 80%,
			rgba(210, 210, 210, 1.0)
			);
	background-image: linear-gradient(to bottom,
			rgba(220, 220, 220, 1.0), 
			rgba(240, 240, 240, 1.0) 25%,
			rgba(235, 235, 235, 1.0) 30%,
			rgba(240, 240, 240, 1.0) 36%,
			rgba(235, 235, 235, 1.0) 50%,
			rgba(215, 215, 215, 1.0) 80%,
			rgba(210, 210, 210, 1.0)
			);
}



/*.menu4 {
list-style: none; /* 先頭記号を消す */
/*width: 280px; /* メニュー全体の幅 */
/*}
.menu4 a4 {
margin: 0 auto;
width: 280px;
height: auto;
/*background:url(btn041/btn041_09.png) no-repeat; /* 画像の挿入 */
/*font-size: 20px;
/*background-color: #FF99FF; /* 背景色 */
/*color: #FF0461; /* 文字色 */
/*font-weight:bolder; /* 文字を太字に */
/*display: block; /* ブロックレベルに */
/*text-align: center; /* 文字を中央合わせに */
/*padding: 5px; /* 内部の余白 */
/*border: 1px #9999FF solid; /* 枠線 */
/*text-decoration: none; /* 下線を消す */
/*outline: none; /* 選択時の点線枠線を消す */
/*border-radius: 8px 8px 8px 8px; /* タブに丸みをつける */
/*}*/

#janru {
	text-align:center;
	}

.menu4 {
    position:relative;
    display:block;
    margin:0;
    padding:0;
}
.menu4 img {
    z-index:0;
    margin:10px;
    padding:0;
}

.img_comment  a {
    position:absolute;
    top:10px;
    /*left:50px; */
	text-decoration:none;	
    z-index:1;
    padding-top:10px;
	padding-right:auto;
    margin:0;
/*    text-shadow:3px 3px 3px #000;*/
}
input#subbtn {
    
    margin-top:40px;
    max-width: 280px;
    
    padding-left:inherit;
    padding-right: inherit;
    
    
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0055ff;
    
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 99%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.99, #ffffff),
		to(#ffffff));
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 3px solid #00c4ff;
	-moz-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0);
	box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0);
	text-shadow:
		1px 1px 4px rgba(000,013,255,0.4),
		0px 1px 0px rgba(255,255,255,1);
}
