.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

h4 {
 padding:20px;
 font-family: "メイリオ", sans-serif;
 font-size:28px;
}

h3 {
 padding:20px;
 font-family: "メイリオ", sans-serif;
font-size:28px;
}
p.head img{
	text-align:center;
	width:100%;
	/*padding-bottom:15px;	*/
	}
#btb2	{
	margin:10px 10px 10px 10px;
	border-bottom:solid 1px;
	border-width:100%;
	}
#voteimg input{
	padding-right:25px;
	padding-bottom:25px;
	}
#sub  {
	text-align:center;
	font-family: "メイリオ", sans-serif;
	font-size:38px;
	}
back	{
	float:left; 
	padding-top:20px;
	}
rogo	{
	float:left;
	}
	
#eria	{
	padding-left:20px;
	}
#bteria	{
	margin-top:30px;
	}