.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.h4 {
 text-align:center;
}

.h3 {
 text-align:center;
}
